.grid {
	width: 90vw;
	height: 90vw;
	margin: auto;
	border: 10px solid black;
	display: grid;
}

.grid-item {
	background-color: grey;
	border: 1px solid white;
}

.grid-item-colored {
	background-color: black;
}
